body{
  margin: auto;
  height: top;

}
.background{
   table-layout: fixed;
  background: rgb(58, 105, 66);
border-spacing: 0; }

.lava          { background: rgb(248, 136, 7); }
.wall          { background:  rgb(64, 64, 64);   }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: white; }
.Monster { background: rgb(189, 35, 35); }
.game {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px rgb(0, 250, 42), 4px -7px 8px rgb(0, 250, 42);
}
